thead th:nth-child(1) {
    width: 12%;
    height: 40px;
    border-top: 1px solid black;
}

thead th:nth-child(2) {
    width: 30%;
    height: 40px;
    border-top: 1px solid black;
}

thead th:nth-child(3) {
    width: 15%;
    height: 40px;
    border-top: 1px solid black;
}

thead th:nth-child(4) {
    width: 13%;
    height: 40px;
    border-top: 1px solid black;
}

thead th:nth-child(5) {
    width: 15%;
    height: 40px;
    border-top: 1px solid black;
}