<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silver.shelter.board.model.mapper.BoardMapper">

	
	<!-- 게시판 종류 조회,
		각각 별칭으로 지정한 이유 : BoardType DTO가 없어서 자동 매칭이 안됨 -->
	<select id="selectBoardTypeList">
		SELECT BOARD_CODE "boardCode", BOARD_NAME "boardName"
		FROM "BOARD_TYPE"
		ORDER BY BOARD_CODE
	</select>
	
	
	<!-- 삭제되지 않은 게시글 수 조회 -->
	<select id="boardAllCount">
		SELECT COUNT(*)
		FROM "BOARD"
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_DEL_FL = 'N'
	</select>
	
	
	<!-- 삭제되지 않은 게시글 전체 조회 -->
	<select id="boardAllSelect">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NAME, BOARD_WRITE_DATE, READ_COUNT, LIKE_COUNT, BOARD_CODE
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_DEL_FL = 'N'
	</select>
	
	<!-- 삭제되지 않고 검색한 게시글 수 조회 -->
	<select id="boardSearchCount">
		SELECT COUNT(*)
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_DEL_FL = 'N'
		
		<choose>
			
			<!-- 제목으로 검색 -->
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 작성자으로 검색 -->
			<when test='key == "w"'>
				AND MEMBER_NAME LIKE '%' || #{query} || '%'
			</when>
			
			
		</choose>
		
	</select>
	
	
	<!-- 삭제되지 않고 검색한 게시글 조회 -->
	<select id="boardSearchSelect">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NAME, BOARD_WRITE_DATE, READ_COUNT, LIKE_COUNT, BOARD_CODE
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_DEL_FL = 'N'
	
		<choose>
			
			<!-- 제목으로 검색 -->
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 작성자으로 검색 -->
			<when test='key == "w"'>
				AND MEMBER_NAME LIKE '%' || #{query} || '%'
			</when>
		
		</choose>
	</select>
	
	
	<!-- 게시글 상세보기 -->
	<select id="boardDetail">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, MEMBER_NAME, BOARD_WRITE_DATE,
			BOARD_UPDATE_DATE, READ_COUNT, LIKE_COUNT, BOARD_CODE, MEMBER_NO
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_NO = #{boardNo}
	</select>
	
	
	
	
	
	
	
	
	
	
	<!-- 공지게시판 삭제되지 않은 게시글 전체 수 조회  검색X -->
	<!-- <select id="noticeAllCount">
		SELECT COUNT(*)
		FROM "BOARD"
		WHERE BOARD_CODE = 1
		AND BOARD_DEL_FL = N
	</select> -->
	
	
	<!-- 삭제되지 않은 공지 게시글 전체 조회  검색X -->
<!-- 	<select id="noticeAllSelect">
		SELECT BOARD_TITLE, MEMBER_NAME, BOARD_WRITE_DATE, READ_COUNT, LIKE_COUNT
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_CODE = 1
		AND BOARD_DEL_FL = 'N'
	</select> -->

	
	<!-- <select id="noticeSearchCount">
		SELECT COUNT(*)
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_CODE = 1
		AND BOARD_DEL_FL = N
		
		<choose>
		
			게시글 제목 검색
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			
			작성자 이름 검색
			<when test='key == "n"'>
				AND MEMBER_NAME LIKE '%' || #{query} || '%'
			</when>
			
			작성자 아이디 검색
			<when test='key == "i"'>
				AND MEMBER_NAME LIKE '%' || #{query} || '%'
			</when>
			
			
		</choose>
		
	</select> -->
	
	
	

</mapper>