<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.silver.shelter.medicalCenter.model.mapper.DoctorMapper">

    <select id="findDoctorsByMajorName" resultType="com.silver.shelter.medicalCenter.model.dto.Doctor">
        SELECT d.DOCTOR_NAME, d.DOCTOR_PROFILE, d.DOCTOR_SPECIALITY
        FROM DOCTOR d
        JOIN DOCTOR_MAJOR dm ON d.MAJOR_CODE = dm.MAJOR_CODE
        WHERE dm.MAJOR_NAME = #{majorName}
    </select>
    
    <select id="getDateByDoctorName" resultType="Date">
        SELECT da.DR_APPT_TIME
        FROM DOCTOR_APPOINTMENT da
        JOIN DOCTOR d ON da.DOCTOR_NO = d.DOCTOR_NO
        WHERE d.DOCTOR_NAME = #{resDoctorName}
    </select>
</mapper>