
#formHeader{

    display:flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.notice{

    width: 65%;
    display: flex;

    justify-content: space-between;
    color: rgb(253, 111, 60);
}

.star{
    color:rgb(253, 111, 60);
}

.line-div{

    width: 65vw;
    height: 2px;
    
    background-color: lightgrey;
    margin-bottom: 5vh;
}

#info-form{

    display: flex;

    flex-direction: column;
    align-items: center;
    width: 100%;

    
}

/* 아이디 인풋 컨테이너 */
.id-container {
    display: flex;
    align-items:center;
    width: 50vw;
    margin-bottom: 1vh;
}

.id-label{
    display: flex;
    
    
    align-items: center;

    width: 10vw;
   
   
    
}


#memberId{

    width: 35vw;
    height: 5vh;

    border-radius: 6px;

    

}

#inputDiv{
    padding-top: 23px;
}

/* 비밀번호 입력 컨테이너 */

.pw-container{
    display: flex;

    width: 50vw;

    margin-bottom: 3vh;
}

.pw-label{
    display: flex;
    
    justify-content: start;
    align-items: center;

    width: 10vw;
}

#pwInputDiv{

    padding-top:23px;
}

#memberPw{
    width: 35vw;
    height: 5vh;

    border-radius: 6px;

    
}

/* 비밀번호 입력 확인 컨테이너 */

.pwConfirm-container{
    display: flex;

    width: 50vw;

    margin-bottom: 5vh;
}

.pwConfirm-label{

    display: flex;
    
    justify-content: start;
    align-items: center;

    width: 10vw;
}

#memberPwConfirm{
    width: 35vw;
    height: 5vh;

    border-radius: 6px;

   
}

/* 이름 입력 컨테이너 */
.memberName-container{
    display: flex;

    width: 50vw;

    margin-bottom: 5vh;
}

.memberName-label{

    display: flex;
    
    justify-content: start;
    align-items: center;

    width: 10vw;

}

#memberName{

    width: 35vw;
    height: 5vh;

    border-radius: 6px;

  
}

/* 전화번호 입력 컨테이너 */

.tel-container{

    display: flex;

    width: 50vw;

    margin-bottom: 5vh;
}

.tel-label{

    display: flex;
    
    justify-content: start;
    align-items: center;

    width: 10vw;

}

#memberTel{
    width: 35vw;
    height: 5vh;

    border-radius: 6px;

  
}

/* 이메일 입력 컨테이너 */

.email-container{
    display: flex;

    width: 50vw;

    margin-bottom: 5vh;
}

.email-label{
    
    display: flex;
    
    justify-content: start;
    align-items: center;

    width: 10vw;
}

#memberEmail{

    width: 35vw;
    height: 5vh;

    border-radius: 6px;


}


/* 보호자 연락처 입력 컨테이너 */

.guardian-tel-container{
    display: flex;
    align-items: center;
    width: 50vw;

    margin-bottom: 10vh;

}

.guardian-tel-label{
    display: flex;
    
   
    align-items: center;

    width: 10vw;

    padding-bottom: 23px;
}

#guardianTel{
    width: 35vw;
    height: 5vh;

    border-radius: 6px;

}


/* --------------------주소란-------------------- */

.addr-fieldset{

    display: flex;

    flex-direction: column;

    justify-content: space-between;
    width: 30%;
    
    margin-bottom: 5vh;
}

.add-div-1{
    display: flex;
    justify-content: space-between;
}

.class{
    margin: 1vh;
}
#searchAddress{

    width: 6vw;
    height: 4vh;

    border: none;

    background-color: #1A2050;
    color: #ffffff;
    cursor: pointer;

    border-radius: 6px;
}

.addr-search-btn:hover{

    border: 1px solid #1A2050;
    background-color: #ffffff;
    color: #1A2050;
}

.addr-search-btn:active{
    border: none;
    background-color: #1A2050;
    color: #ffffff;
}

/* 주소란 */
#postcode{
    border: none; 
    
    outline: none;
    border-bottom: 1px solid lightgrey;

    width: 80%;

   
    

}

#postcode:focus-within{

    border-bottom: 1px solid;
    border-bottom-color: #1A2050;
}

#roadAddress{

    border: none; 
    
    outline: none;
    border-bottom: 1px solid lightgrey;

    width: 80%;

    
    

}

#roadAddress:focus-within{

    border-bottom: 1px solid;
    border-bottom-color: #1A2050;
}


#detailAddress{
    border: none; 
    
    outline: none;
    border-bottom: 1px solid lightgrey;

    width: 80%;

   
    margin-bottom : 2vh;
}

#detailAddress:focus-within{

    border-bottom: 1px solid;
    border-bottom-color: #1A2050;
}
/* 주소란 */

/* 이전 및 제출 버튼 */
.prev-next-btn-container{

    width: 20vw;
    display: flex;

    justify-content: space-around;
    margin-bottom: 8vh;
}

#beforeBtn{

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    background-color: #D9D9D9;

    color: #000000;
    width: 9vw;
    height: 5vh;

    border-radius: 6px;
}

#beforeBtn:hover{
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.233);
}

#submitBtn{
    width: 9vw;
    height: 5vh;

    background-color: #1A2050;

    color: #ffffff;
    border-radius: 6px;

    border:none;

    cursor: pointer;
}

#submitBtn:hover{

    box-shadow: 3px 3px 2px rgba(68, 85, 241, 0.473);
    
}

.confirm{ color : green; }
.error{ color : red; }