* {
    font-family: 'Pretendard-Regular';
    color: #3C3C3B;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 전체 예약 섹션을 세로로 정렬하기 위해 flex 속성 사용 */
.reservation-container {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reservation-header {
    width: 65%;
    display: flex;
    align-items: start;
    justify-content: flex-start; /* 추가된 부분 */
    margin-bottom: 20px;
}

/* 예약 확인 문구 왼쪽 정렬 */
.reservation-header h1 {
    font-size: 30px;
    text-align: left;
}

/* 날짜를 가운데 정렬 */
.reservation-date {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.reservation-date h1 {
    font-size: 40px;
}

/* 캘린더와 예약 목록을 가로로 정렬하기 위해 flex 속성 사용 */
.reservation-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;
}

.table-list {
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
}

/* 요일 스타일 */
.jcalendar-weekday {
    width: 120px;
}

.stapper-div {
    width: 50px; /* 너비 */
    height: 50px; /* 높이 */
    border-radius: 50%; /* 동그랗게 만들기 */
    background-color: #1A2050; /* 배경색 */
}

/* 예약 항목 컨테이너를 가로로 정렬하기 위해 flex 사용 */
.reservation-item {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    padding-bottom: 10px; /* 항목 간의 간격 */
    flex-direction: row; /* 항목을 가로로 정렬 */
}

/* 텍스트 스타일 */
.reservation-font {
    margin-left: 15px; /* 둥근 div와 텍스트 간의 간격 */
}

.reservation-fontList {
    margin-left: 15px;
}

.time-container {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}

.reservation-clubResvTime {
    margin-right: 10px; /* 텍스트와 셀렉트 박스 간의 간격 */
}

/* 예약 목록 스타일 */
.border-container {
    height: 680px;
    width: 750px;
    border-radius: 3px;
    margin-right: 20px;
}

.reservation-list {
    padding-left: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* 예약 수정 및 삭제 버튼 스타일 */
.reservation-actions {
    display: flex;
    justify-content: flex-end;
}

/* 예약 수정 버튼 스타일 */
.reservation-update {
    font-size: 25px; /* 폰트 크기 */
    font-weight: bolder;
    padding: 10px 50px; /* 안쪽 여백 (패딩) */
    border: none;
    margin: 10px; /* 버튼 간의 간격 */
    border-radius: 5px; /* 모서리 둥글게 */
    background-color: #f0f0f0; /* 배경색 */
}

.reservation-delete {
    font-size: 25px; /* 폰트 크기 */
    font-weight: bolder;
    padding: 10px 50px; /* 안쪽 여백 (패딩) */
    border: none;
    margin: 10px; /* 버튼 간의 간격 */
    border-radius: 5px; /* 모서리 둥글게 */
    background-color: #f0f0f0; /* 배경색 */
}

/* 버튼에 마우스를 올렸을 때 스타일 */
.reservation-update:hover,
.reservation-delete:hover {
    font-weight: bolder;
    background-color: #1A2050; /* 호버 시 배경색 */
    color: #FFFF;
}

.reservation-clubName {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 5px;
}

.reservation-clubResvTime {
    font-size: 25px;

}

thead th,
tbody th {
    width: 100px;
    height: 50px;
}

.table-list th,
.table-list td {
    border: 1px solid #EEEEEE;
    font-size: 16px;
    align-items: center;
}

.reservation-indicator {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1A2050;
    margin: 0 auto;
}

.reservationTime {
    font-size: 20px;
}
