<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/introduction/introduction.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body>

    <main>
        <th:block th:replace="~{common/headerNav}"></th:block>   
        <th:block th:replace="~{common/mainNav}"></th:block>   
        <div>
            <div>
                <th:block th:replace="~{introduction/introductionCommon}"></th:block>
                
            </div>
            
			<div class="line-div"></div>
			
           <div class="intro-header">
                <h1>정성과 사랑으로 입주자를 모십니다.</h1>
            </div>
			<br>
			<br>
			<br>
			<br>
            <div class="entry-conditions">
                <h1>▪ 입주조건</h1>
                <br>
                <br>
                <ul class="age-condition">
                    <h2>1 . 연령 조건 </h2>  
					<br>
                    <li>
                        <h4>만 65세 이상인 분</h4>
                    </li>
                </ul>
				<br>
				<br>
                <ul class="health-condition">
                    <h2>2 . 건강 상태</h3>
					<br>   
                    <li>
                        <h4>일상 생활을 스스로 할 수 있는 분 또는 요양사의 도움이 필요한 분 (요양사 지원 가능)</h4>
                    </li>
                    <li>
                        <h4>입주 전 건강 검진 결과 제출 필수</h4>
                    </li>
                </ul>
				<br>
				<br>
                <ul class="other-condition">
                    <h2>3 . 기타 조건</h2>
					<br>                    <li>
                        <h4>공동생활 규정을 준수할 수 있는 분</h4>
                    </li>
                    <li>
                        <h4>노인복지법 제15조에 따른 입주 자격 요건을 충족하는 분</h4>
                    </li>
                </ul>
            </div>

            <div class="entry-cost">


                <div class="entry-cost-title">
                    <h1>▪ 입주비용</h1>
                </div>    
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>입주실 구분</th>
                            <th>클래식룸</th>
                            <th>프리미엄</th>
                            <th>VIP</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th>입주 보증금</th>
                            <td>3억원</td>
                            <td>5억원</td>
                            <td>7억원</td>
                        </tr>
                        <tr>
                            <th>월 생활비</th>
                            <td>476 ~ 515만원</td>
                            <td>513 ~ 590만원</td>
                            <td>675 ~ 854만원</td>
                        </tr>
                    </tbody>


                </table>

                <div class="entry-cost-description">

                    <h6>*월 생활비는 매년 물가상승분에 따라 변동되며, 식비,소모품비, 의료비는 별도로 부과됩니다. [2024년 1월 기준]</h6>
                </div>

            </div>

            <div class="entry-procedure">
                <h1>▪ 입주 절차</h1>   
                <br>
                <div class="procedure-steps-container">

                    <article class="procedure-step">
                        <h1>01</h1>
                        <h3>상담 및 시설투어</h3>
                    </article>
                    
                        <div class="i-div">
                            <i class="fa-solid fa-caret-right"></i>
                        </div>  

                    <article class="procedure-step">
                        <h1>02</h1>
                        <h3>입주 방 선택</h3>
                    </article>

                        <div class="i-div">
                            <i class="fa-solid fa-caret-right"></i>
                        </div>    
                    
                        <article class="procedure-step">
                        <h1>03</h1>
                        <h3>서류 심사</h3>
                   
                    </article>

                        <div class="i-div">
                            <i class="fa-solid fa-caret-right"></i>
                        </div> 
                    
                    <article class="procedure-step">
                        <h1>04</h1>
                        <h3>입주 / 잔금 납부</h3>
                    </article>
                </div>
            </div>
        </div>

        <div class="apply-button-container">
            <a href="/examination/examination">입주신청</a>
        </div>

    </main>

</body>
</html>