* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

/* 헤더 */
#mediNav {
    display: flex;
    justify-content: center;
}

#mediNav * {
    width: 190px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

.selected-tab {
    background-color: #1A2050;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-select {
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: space-between;
}

#sectionBtn1, #sectionBtn2 {
    font-size: 25px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    width: 200px;
    height: 100px;
    transition: 0.2s;
    border-style: none;
    background-color: white;
}

#sectionBtn1:hover, #sectionBtn2:hover {
    border-bottom: 20px solid #252e74;
}

.sectionBtnClicked {
    border-bottom: 20px solid #252e74;
}

#section1, #section2 {
    display: none;
    justify-content: center;
    background-color: white;
}

#section1.active, #section2.active {
    display: flex;
}

#floors {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#floors * {
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    transition: 0.2s;
    border: 0.5px solid black;
}

#departments * {
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    transition: 0.2s;
    border: 0.5px solid black;
}

#floors *:hover, .floorChecked {
    background-color: #232e7e;
    color: white;
}

#floorImg {
    width: 500px;
    height: 400px;
}

#departments {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-right: 20px;
}

#departments *:hover, .dep-floorChecked {
    background-color: #232e7e;
    color: white;
}

#departmentsIntro {
    width: 510px;
    height: auto;
}

#floorImg * {
    width: 500px;
    height: 400px;
    display: none;
}

.sec {
    display: none;
}

.dep-sec.active {
    display: block;
}

#floor-sec1 {
    display: block;
}

#mediHeaderImg {
    width: 1000px;
    height: 300px;
    object-fit: cover;
}

#sec21 {
    font-size: 17px;
}
