* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

/* 헤더 */
#mediNav {
    display: flex;
    justify-content: center;
}

#mediNav * {
    width: 190px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    font-size: 20px;
}

.selected-tab {
    background-color: #1A2050;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-select {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 400px;
    justify-content: space-between;
}

#sectionBtn1, #sectionBtn2{
    background-color: white;
    font-size: 25px;
    border: none;
}

.sectionBtnClicked {
    border-bottom: 1px solid #1A2050;
}

#section1 {
    justify-content: center;
    background-color: white;
    display: flex;
}

#floors {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#floors * {
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 50px;
    background-color: #1A2050;
    color: white;
    font-size: 25px;
}

.sec {
    display: none;
}
#floors *:active {
    background-color: white;
    color: #1A2050;
}

#floorImg {
    width: 500px;
    height: 400px;
}

#departments {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#departments * {
    width: 180px;
    height: 70px;
    text-align: center;
    line-height: 50px;
    background-color: #1A2050;
    color: white;
    font-size: 25px;
}

#section2 {
    display: flex;
    display: none;
}

#departmentsIntro {
    width: 510px;
    height: 1000px;
}

#sec2, #sec3, #sec4 {
    display: none;
}

#floorImg * {
    width: 500px;
    height: 400px;
}

#mediHeaderImg {
    width: 1000px;
    height: 300px;
    object-fit: cover;
}