<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 - 회원 정보 조회</title>

    <!-- 왼쪽 nav 부분 및 전체페이지 공간지정 css -->
    <link rel="stylesheet" th:href="@{/css/common/admin.css}">

</head>
<body>
    <main>

        <!-- 왼쪽 nav 부분 -->
        <th:block th:replace="~{admin/admin}"></th:block>



        <!-- nav를 제외한 오른쪽 메인 페이지 -->
        <section class="adminMain">

            <!-- 페이지 상단 메인 글씨 -->
            <div class="adminHeader">
                <span>관리자 페이지 - 회원 정보 조회</span>
            </div>



            <div class="adminBody">

                <!-- 회원 게시판 출력 -->
                <div class="adminLeft">


                    <table class="list-table">

                        <thead>
                            <tr>
                                <!-- 이름, 아이디 검색 가능하게 할 예정 -->
                                <th>회원 이름</th>
                                <th>회원 아이디</th>
                            </tr>
                        </thead>


                        <tbody>

                            <!-- 회원이 없을 때 -->
                            <th:block th:if="${#lists.isEmpty(memberList)}">
                                <tr>
                                    <th colspan="6">회원이 존재하지 않습니다.</th>
                                </tr>
                            </th:block>

                            <!-- 회원이 있을 때 -->
                            <th:block th:unless="${#lists.isEmpty(memberList)}">

                                <tr th:each="member : ${memberList}" th:object="${member}">

                                    <td>

                                        <!-- 검색 X -->
                                        <button id="memberId"
                                        th:name="*{memberNo}" th:text="*{memberName}"></button>
                                        
                                        

                                    </td>


                                    <td th:text="*{memberId}">회원 아이디</td>

                                </tr>
                            </th:block>



                        </tbody>

                    </table>


                    <!-- <div class="pagination-area">

                        <ul class="pagination" th:unless="${param.key}" th:object="${pagination}"></ul>

                    </div> -->







                </div>
                
                <!-- 회원 상세 정보 -->
                <div class="adminRight">

                    <h2>회원 상세 정보</h2>
                    <form action="/admin/adminSelect" method="POST" id="memberForm">

                        <div id="name-area">
                            <label for="name">이름 : </label>
                            <span id="nameInput" name="name"></span><br>
                        </div>
                            
                        <div id="id-area">
                            <label for="id">아이디 : </label>
                            <span id="idInput"></span><br>
                        </div>
                            
                        <div id="tel-area">
                            <label for="tel">전화번호 : </label>
                            <span id="telInput"></span>
                        </div>

                        <div id="gdtel-area">
                            <label for="gdtel">보호자 전화번호 : </label>
                            <span id="gdtelInput"></span>
                        </div>

                        <div id="postCode-area">
                            <label for="postCode">우편번호 : </label>
                            <span id="postCode"></span>
                        </div>

                        <div id="address-area">
                            <label for="address">주소 : </label>
                            <span id="address"></span>
                        </div>

                        <div id="detailAddress-area">
                            <label for="detailAddress">상세주소 : </label>
                            <span id="detailAddress"></span>
                        </div>





                    </form>


                </div>


            </div>

        </section>
        
    </main>


    <script src="/js/admin.js"></script>

</body>
</html>