<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 - 한눈에 보기</title>

    <!-- 왼쪽 nav 부분 및 전체페이지 공간지정 css -->
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    <link rel="stylesheet" th:href="@{/css/admin/boardDetail.css}">

</head>
<body>
    <main>

        <!-- 왼쪽 nav 부분 -->
        <th:block th:replace="~{admin/admin}"></th:block>



        <!-- nav를 제외한 오른쪽 메인 페이지 -->
        <section class="adminMain">

            <div class="adminHeader">
                <span>관리자 페이지 - 한눈에 보기</span>
            </div>

            <div class="adminBody">

                <div class="adminBody-area">

                    <!-- 게시글 공간 -->
                    <div class="boardDetail-area">
                        
                        <!-- 게시글 제목 공간 -->
                        <div class="boardTitle-area">
                            <div class="lines"></div>
                            <a th:href="@{/admin/{boardCode} (boardCode=${board.boardCode}, cp=${cp}, key=${session.key}, query=${session.query})}">＜ 돌아가기</a>
                            
                            <br><br>
                            
                            <span th:text="${board.boardTitle}"></span>
                            
                        </div>
                        
                        <!-- 작성자 정보 공간 -->
                        <div class="writer-area">
                            
                            <div class="writer-left-area">
                                <br>
                                작성자 : <span id="writer" th:text="${board.memberName}">작성자</span><br>
                                <br>
                                <span th:text="|작성일 ${board.boardWriteDate}|">작성일</span><br>
                                <span th:if="${board.boardUpdateDate}" th:text="|수정일 ${board.boardUpdateDate}|">수정일</span>
                            </div>
                            
                            <div class="writer-right-area">
                                <span th:text="|조회수 ${board.readCount}|">조회수</span>
                                <i class="fa-heart" id="boardLike"
                                th:classappend="*{likeCheck == 1} ? fa-solid : fa-regular"
                                ></i>
                                <span th:text="*{likeCount}">0</span>
                                <!-- <span id="boardLike" th:text="|좋아요 ${board.likeCount}|">좋아요</span> -->
                                
                            </div>
                        
                        </div>
                    
                        <hr>    
                        
                        <div class="boardContent-area">
                            
                            <article class="boardContent"
                                th:text="${board.boardContent}">
                            
                            
                            </article>
                            
                        </div>
                    
                    </div>    
            
            
            
                    <div class="board-btn-area">

                        <a id="updateBtn"
                        th:href="@{/admin/{boardCode}/{boardNo}/update (boardCode=${board.boardCode}, boardNo=${boardNo})}"
                        >수정하기</a>
                        <button id="deleteBtn">삭제하기</button>
                        
                    </div>
                    <!-- th:href="@{/board/{boardCode}/{boardNo}/boardUpdate (boardCode=${boardList.boardCode}, boardNo=${boardNo}, cp=${cp}${session.key != null and session.key != '' ? ', key=' + session.key : ''}${session.query != null and session.query != '' ? ', query=' + session.query : ''})}" -->
                    
                    <!-- 댓글 공간 -->
                    <div id="commentArea">
                        
                        <!-- 댓글 모록 -->
                        <div class="comment-list-area">
                            
                            <ul id="commentList">
                                
                                <li class="comment-row"
                                    th:each="comment : ${commentList}"
                                    th:classappend="${comment.parentCommentNo} != 0 ? child-comment"
                                    th:object="${comment}">
                                    
                                    <th:block th:if="*{commentDelFl} == 'Y'">
                                        삭제된 댓글 입니다
                                    </th:block>
                                
                                    <th:block th:if="*{commentDelFl} == 'N'">
                                        <p class="comment-writer">
                                            
                                            
                                            <span th:text="*{memberName}">작성자</span>
                                            <span class="comment-date" th:text="*{commentWriteDate}">작성일</span>
                                        </p>
                                        
                                        <p class="comment-content" th:text="*{commentContent}">댓글 내용</p>
                                        
                                        <!-- 버튼 영역 -->
                                        <div class="comment-btn-area">
                                            <button th:onclick="|showInsertComment(*{commentNo}, this)|">답글</button>
                                            
                                            <th:block th:if="${session.loginMember != null and session.loginMember.memberNo == comment.memberNo}">
                                                <button th:onclick="|showUpdateComment(*{commentNo}, this)|">수정</button>
                                                <button th:onclick="|deleteComment(*{commentNo})|">삭제</button>
                                            </th:block>
                                                <!-- 로그인 회원과 댓글 작성자가 같은 경우 -->
                                                
                                        </div>
                                    </th:block>
                                </li>
                            </ul>
                        </div>
                    
                        <!-- 댓글 작성 공간 -->
                        <div class="comment-write-area">
                            
                            <textarea id="commentContent"></textarea>
                            <button id="addComment">
                                댓글<br>
                                등록
                            </button>
                        </div>
                        
                        
                        
                        
                        <div class="pagination-area">
                            
                            <!-- 목록 조회(검색X) -->
                            <ul class="pagination" th:unless="${param.commentKey}" th:object="${pagination}">
                                
                                <!-- 첫페이지로 이동 -->
                                <li><a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=1)}">&lt;&lt;</a></li>
                                
                                <!-- 이전 목록 마지막 페이지로 이동 -->
                                <li><a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=*{prevPage})}">&lt;</a></li>
                                
                                <!-- 특정 페이지로 이동 -->
                                <th:block th:if="${commentCount} lt 11">
                                    <!-- 댓글이 10개 이하인 경우 1페이지만 표시 -->
                                    <li><a class="current">1</a></li>
                                </th:block>
                                
                                <!-- 댓글이 10개가 넘으면 표시 -->
                                <th:block th:if="${commentCount} gt 10">
                                    
                                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                                        
                                        <!-- 현제 보고있는 페이지 -->
                                        <li th:if="${i} == *{currentPage}"><a class="current" th:text="${i}"></a></li>
                                        
                                        <!-- 보고있지 않은 페이지 -->
                                        <li th:unless="${i} == *{currentPage}">
                                            <a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=${i})}" th:text="${i}"></a>
                                        </li>
                                        
                                    </th:block>
                                </th:block>
                                
                                <!-- 다음 목록 시작 번호로 이동 -->
                                <li><a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=*{nextPage})}">&gt;</a></li>
                                
                                <!-- 마지막 페이지로 이동 -->
                                <li><a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=*{maxPage})}">&gt;&gt;</a></li>
                                
                            </ul>
                            
                            
                            <!-- 목록 조회(검색O) -->
                            <ul class="pagination" th:if="${param.commentKey}" th:object="${pagination}">
                                
                                <!-- 첫페이지로 이동 -->
                                <li><a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=1, commentKey=${param.commentKey}, commentQuery=${param.commentQuery})}">&lt;&lt;</a></li>
                                
                                <!-- 이전 목록 마지막 페이지로 이동 -->
                                <li><a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=${prevPage}, commentKey=${param.commentKey}, commentQuery=${param.commentQuery})}">&lt;&lt;</a></li>
                                
                                
                                <!-- 특정 페이지로 이동 -->
                                <th:block th:if="${commentCount} lt 11">
                                    <!-- 댓글이 10개 이하인 경우 1페이지만 표시 -->
                                    <li><a class="current">1</a></li>
                                </th:block>
                                
                                <th:block th:if="${commentCount} gt 10">
                                    
                                    <!-- 특정 페이지로 이동 -->
                                    <th:block th:if="*{startPage lt endPage}" th:each="i : *{#numbers.sequence(startPage, endPage)}">
                                        
                                        <!-- 현제 페이지 -->
                                        <li th:if="${i} == *{currentPage}"><a class="current" th:text="${i}"></a></li>
                                        
                                    <!-- 보고있지 않은 페이지 -->
                                    <li th:unless="${i} == *{currentPage}">
                                        <a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=${i}, commentKey=${param.commentKey}, commentQuery=${param.commentQuery})}"
                                        th:text="${i}"></a>
                                    </li>
                                    
                                </th:block>
                            </th:block>
                            
                            
                            
                            <!-- 다음 목록 시작 페이지로 이동 -->
                            <li><a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=*{nextPage}, commentKey=${param.commentKey}, commentQuery=${param.commentQuery})}">&gt;</a></li>
                            
                            <!-- 마지막 페이지로 이동 -->
                            <li><a th:href="@{/admin/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo}, commentPage=*{maxPage}, commentKey=${param.commentKey}, commentQuery=${param.commentQuery})}">&gt;&gt;</a></li>
                            
                        </ul>
                    </div>
                    
                    
                    
                    <!-- 검색창 공간 -->
                    <form th:action="@{/board/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${boardNo})}" method="GET" id="boardSearch">
                        
                        <select name="commentKey" id="searchKey">
                            <option value="w">작성자</option>
                            <option value="c">내용</option>
                        </select>
                        
                        <input type="text" name="commentQuery" id="searchQuery" placeholder="검색어를 입력해주세요.">
                        
                        <button>검색하기</button>
                        
                    </form>
                </div> <!-- adminBody-area 끝 -->
            </div> <!-- adminBody 끝 -->

        
        
        </section>
        
    </main>

    <script th:inline="javascript">
        const message =  /*[[${message}]]*/ "전달 받은 message";

        const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원 번호";
        
        const boardCode = /*[[${board.boardCode}]]*/ "게시판 코드";

        const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호";
        
    </script>

    <script src="/js/admin/boardDetail.js"></script>
    <script src="/js/board/comment.js"></script>
</body>
</html>