<div id="sideNav" class="side-nav">
    <div>
        <a href="javascript:void(0)" class="closebtn">&times;</a>
    </div>
    
    <div class="nav-line"></div>
    <div>
        <a href="/introduction/introduction">입주정보</a>
    </div>
    <div>
        <a href="/communication/communication">시설소개</a>
    </div>
    <div>
        <a href="/medicalCenter/medicalCenterMain">의료센터</a>
    </div>
    <div>
        <a href="#">커뮤니티</a>
    </div>
    <div>    
        <a href="/board/notice">게시판</a>
    </div>
</div>