<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stepper</title>
    <link rel="stylesheet" href="/css/common/stepper.css">
</head>
<body>
    <div class="stepper">
        <div class="step active">1</div>
        <div class="line active"></div>
        <div class="step">2</div>
        <div class="line"></div>
        <div class="step">3</div>
        <div class="line"></div>
        <div class="step">4</div>
    </div>
</body>
</html>
