<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입주 제출 서류 & 입주신청</title>

    <link rel="stylesheet" href="/css/application/application.css">

</head>
<body>
    
    <section>
        <form action="" enctype="multipart/form-data">

            <div>
                <table>
                    <h3>제출 구비 서류</h3>
                    
                    <thead>
                        <tr>
                            <th>순번</th>
                            <th>구비서류명</th>
                            <th>구비서류 첨부</th>
                            <th><button>제출하기</button></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>건강검진 기록부</th>
                            <th><input type="file" name="uploadFile" multiple></th>
                            <th><button class="Reset-Button">초기화</button></th>
                        </tr>

                        <tr>
                            <th>2</th>
                            <th>가족관계 증명서</th>
                            <th><input type="file" name="uploadFile" multiple></th>
                            <th><button class="Reset-Button">초기화</button></th>
                        </tr>

                        <tr>
                            <th>3</th>
                            <th>주민등록본</th>
                            <th><input type="file" name="uploadFile" multiple></th>
                            <th><button class="Reset-Button">초기화</button></th>
                        </tr>

                        <tr>
                            <th>4</th>
                            <th>신분증</th>
                            <th><input type="file" name="uploadFile" multiple></th>
                            <th><button class="Reset-Button">초기화</button></th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </form>

        
    </section>
</body>

</html>