<th:block th:if="${session.loginMember == null}">
    <div id="doctorMatchingPage">
        <h1 id="doctorMatchingTitle">Golden Prestage 의료센터에 오신 것을 환영합니다</h1>
        <div id="doctorMatchingLoginForm">
            <div id="doctorMatchingLogin">
                <article class="login-form">

                    <form action="/member/login" method="GET" id="loginArea">
                        
                        <!-- 아이디, 비번 입력 -->
                        <img id="doctorMatchingMainLogo" src="/images/main/Logo4.png">
                            <h1>서비스를 이용하시려면 로그인이 필요합니다.</h1>
                            
                            <div class="text">Golden Prestige Corperation</div>
                            <button id="docLoginBtn">로그인 페이지로 이동</button>
                            
                    </form>
                </article>
            </div>
            <div id="doctorMatchingIntro">
                <img id="signupemoji" src="/images/medicalCenter/signupemoji.png">
                <h3 id="signupIntro1">회원가입 후, 다음 서비스를 이용하실 수 있습니다.</h3>
                <h4 id="signupIntro2">입주신청<br><br>인터넷 예약 및 확인<br><br>자유, 문의게시판 글 작성<br><br>여가문화 서비스 신청</h4>
            </div>
        </div>
    </div>
</th:block>
<th:block id="loginServey" th:if="${session.loginMember != null}">
    <th:block id="caregiverInfo" th:if="${session.loginMember.caregiversName != null}">
        <div id="caregiverInfo1">
            <h3 id="caregiverInfoTit">현재 요양사 정보 : <span th:text="${session.loginMember.caregiversName}" /> 요양사</h3>
            <h4 id="caregiverInfoTit1">요양사 변경을 원한다면 요양사 매칭 사전 설문조사를 다시 작성해주세요</h4>
            <button id="AIBtn">요양사 매칭 사전 설문조사 바로가기</button>
        </div>
        <div id="AIMatching" style="display: none;" >
        <th:block th:replace="~{medicalCenter/CaregiverMatchingService}"></th:block>
        </div>
    </th:block>

    <th:block th:if="${session.loginMember.caregiversName == null}">
        <th:block th:replace="~{medicalCenter/CaregiverMatchingService}"></th:block>
        </th:block>
</th:block>