    <div id="doc" class="doc" th:text="${date}">
    </div>
    
    <form action="/communication/guestReservation" method="POST">
        <div class="selection-container">
          
          <div class="calendar-time-container">
            <!-- 캘린더 -->
            <div id='calendar-2'></div>

            <div class="check-container">

              <div class="time-title">

                <p>시간</p>

              </div>

              <div class="time-selection">

                <div class="time-option">

                  <input type="radio" id="time-09" name="time" value="09:00">
                  <label for="time-09">09:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-10" name="time" value="10:00">
                  <label for="time-10">10:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-11" name="time" value="11:00">
                  <label for="time-11">11:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-12" name="time" value="12:00">
                  <label for="time-12">12:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-13" name="time" value="13:00">
                  <label for="time-13">13:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-14" name="time" value="14:00">
                  <label for="time-14">14:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-15" name="time" value="15:00">
                  <label for="time-15">15:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-16" name="time" value="16:00">
                  <label for="time-16">16:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-17" name="time" value="17:00">
                  <label for="time-17">17:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-18" name="time" value="18:00">
                  <label for="time-18">18:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-19" name="time" value="19:00">
                  <label for="time-19">19:00</label>
                </div>

                <div class="time-option">
                  <input type="radio" id="time-20" name="time" value="20:00">
                  <label for="time-20">20:00</label>
                </div>
                
                <!-- 게스트룸 -->
                <input type="hidden" value="1" id="clubCode">
              </div>
              
              <div class="reserve-container">
                <button id="reserve-button">예약하기</button>
              </div>  
              
            </div>
          </div>
          

        </div>

      </form>

