<th:block th:if="${loginMember == null}">
    <div id="doctorMatchingPage">
        <h1 id="doctorMatchingTitle">Golden Prestage 의료센터에 오신 것을 환영합니다</h1>
        <div id="doctorMatchingLoginForm">
            <div id="doctorMatchingLogin">
                <article class="login-form">

                    <form action="/member/login" method="POST" id="loginArea">
                        
                        <!-- 아이디, 비번 입력 -->
                        <img id="doctorMatchingMainLogo" src="/images/main/Logo4.png">
                            <h1>서비스를 이용하시려면 로그인이 필요합니다.</h1>
                            
                            
                            <div class="text">Golden Prestige Corperation</div>
                            
                                <section>
                                    <input type="text"
                                            class="memberId"
                                            placeholder="아이디를 입력해주세요"
                                            name="memberId"
                                            id="memberId"
                                            autocomplete="off">
                                    <br>
                                    <!-- <input type="password"
                                            class="memberPw"
                                            placeholder="비밀번호를 입력해주세요"
                                            name="memberPw"
                                            id="memberPw"> -->
                                    
                                </section>
                                
                                <div class="saveId" >
                                <div>
                                    <input type="checkbox" id="saveId">
                                    <span>아이디 저장</span>
                                </div>
                                </div>
                                
                                <div class="btnDiv">
                                    <button class="loginBtn">로그인</button>
                                    <a href="#" class="signupBtn">회원가입</a>
                                </div>
                                
                    </form>
                    
                <div>
                    <a href="/member/foundId"> 아이디 찾기</a> | <a href="/member/foundPw">비밀번호 찾기</a>
                </div>   
                
                </article>
            </div>
            <div id="doctorMatchingIntro">
                <img id="signupemoji" src="/images/medicalCenter/signupemoji.png">
                <h3 id="signupIntro1">회원가입 후, 다음 서비스를 이용하실 수 있습니다.</h3>
                <h4 id="signupIntro2">입주신청<br><br>인터넷 예약 및 확인<br><br>자유, 문의게시판 글 작성<br><br>여가문화 서비스 신청</h4>
            </div>
        </div>
    </div>
</th:block>
<!-- <th:block th:if="${loginMember != null}"> -->
    
<!-- </th:block> -->
<div id="reservationPage">
    <h1>온라인 진료예약</h1>
    <div id="reservationForm">
        <div id="reservation-content1" class="reservation-content reservation-active section2-1">
            <div id="resTitle">
                <h2>진료과 선택</h2>
            </div>
            <div id="resimgs">
                <div class="resImg">
                    <img src="/images/medicalCenter/재활의학과.png" alt="재활의학과">
                    <h4 class="resImgIntro">재활의학과</h4>
                </div>
                <div class="resImg">
                    <img src="/images/medicalCenter/내과.png" alt="내과">
                    <h4 class="resImgIntro">내과</h4>
                </div>
                <div class="resImg">
                    <img src="/images/medicalCenter/한방과.png" alt="한방과">
                    <h4 class="resImgIntro">한방과</h4>
                </div>
                <div class="resImg">
                    <img src="/images/medicalCenter/가정의학과.png" alt="가정의학과">
                    <h4 class="resImgIntro">가정의학과</h4>
                </div>
            </div>
            <button id="resNextButton">Next</button>
        </div>
        <div id="reservation-content2" class="reservation-content section2-2">This is Reservation 2</div>
        <div id="reservation-content3" class="reservation-content section2-3">This is Reservation 3</div>
        <div id="reservation-content4" class="reservation-content section2-4">This is Reservation 4</div>
        
        <button class="reservation-toggleButton" data-target="1">환자정보</button>
        <button class="reservation-toggleButton" data-target="2">진료과</button>
        <button class="reservation-toggleButton" data-target="3">의료진</button>
        <button class="reservation-toggleButton" data-target="4">진료일시</button>
    </div>
</div>
</div>
</div>