<div id="funeral">
    <div class="image-container">
        <img id="flowerImg" src="/images/medicalCenter/flower.png" alt="Flower Image">
    </div>
    <div class="funeral-text">
        <div class="funeral-text1">
        <span>골든 프레스티지 장례식장은</span>
        <span><strong>올바른 장례문화를 선도</strong></span>
        <span>하고</span>
        </div>
        <br>
        <div class="funeral-text2">
        <span><strong>유가족과 슬픔을 함께하는 마음</strong></span>
        <span>으로 정성을 다하여</span>
        <br>
        </div>  
        <div class="funeral-text3">
        <span><strong>경건한 장례식이 진행</strong></span>
        <span>되도록 최선을 다하겠습니다.</span>
        </div>
    </div>
    
    <div id="introBox">
        <div class="introBox" id="introBox1">
            <img src="/images/medicalCenter/f1.png">
            <div id="fIntro1">운구에서 발인까지<br>종합장례서비스 제공</div>
        </div>
        <div class="introBox" id="introBox2">
            <img src="/images/medicalCenter/f2.png">
            <div id="fIntro2">가족과 같은 마음으로<br>최선을 다하는 서비스<br> 제공</div>
        </div>
        <div class="introBox" id="introBox3">
            <img src="/images/medicalCenter/f3.png">
            <div id="fIntro3">품질 좋은 장례용품을<br>저렴하게 판매</div>
        </div>
        <div class="introBox" id="introBox4">
            <img src="/images/medicalCenter/f4.png">
            <div id="fIntro4">촌지없는 깨끗한<br>장례식장 운영</div>
        </div>
        <div class="introBox" id="introBox5">
            <img src="/images/medicalCenter/f5.png">
            <div id="fIntro5">편안하고 청결한<br>만남의 장소 제공</div>
        </div>
    </div>
    <div class="funeral-t">
        <h1>장례식장 모시는 안내문</h1>
        <p>장례식장은 <span class="important"></span>고인의 넋을 기리는 숭고하고 엄숙한 곳입니다.<br> 경건한 장례식을 위하여 다음 사항을 부탁드립니다.</p>
        <ol>
            <li>고인을 모시는 안치실은 <span class="important">외부인의 출입을 엄격히 통제</span>하고 있으며, 입관시간 외에는 시신을 다른 장소로 옮길 수 없습니다.</li>
            <li>입관예절 등 <span class="important">모든 종교행사는 입관식이 끝난 후</span> 빈소에서 조용히 거행하여 주십시오.</li>
            <li>조화는 깨끗한 환경 조성을 위해 <span class="important">10개 이상 진열하는 것을 제한</span>하고 있으니 협조하여 주시기 바랍니다.</li>
            <li>외부 장의업체의 구내 영업활동에 유의하십시오.</li>
            <li>거동이 수상한 사람은 장례식장 직원에게 신고해 주시기 바랍니다.</li>
            <li>귀중품은 장례식장 사무실에 맡겨 주시기 바랍니다.</li>
        </ol>
    </div>
</div>