<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>의료센터</title>
    <link rel="stylesheet" href="/css/medicalCenter/medicalCenter.css">
</head>
<body>
    <main>
        <header>
            <th:block th:replace="~{medicalCenter/medicalHeader}"></th:block>
        </header>
        <div id="tabContentContainer"></div>
    </main>
</body>
<script src="/js/medicalCenter/medicalCenter.js"></script>
</html>