
    <main>
        <div>
            <select id="section-select" class="dropdown-content">
                <option selected value="section1">의료센터 평면도</option>
                <option value="section2">의료센터 진료과목</option>
            </select>
        </div>
        <div id="section1" class="section">
            <div id="floors">
                <button>1F</button>
                <button>2F</button>
                <button>3F</button>
                <button>4F</button>
                <button>5F</button>
            </div>
            <div id="floorImg">
                <img>
            </div>
        </div>
        <div id="section2" class="section">
            <div id="departments">
                <button>재활의학과</button>
                <button>내과</button>
                <button>한방과</button>
                <button>가정의학과</button>
            </div>
            <div id="departmentsIntro">
                <img>
            </div>
        </div>
    </main>
