<style>
/* 전체 예약 섹션을 세로로 정렬하기 위해 flex 속성 사용 */
.reservation-container {
    display: flex;
    flex-direction: column;
}

.reservation-header {
    margin-bottom: 50px;
}

/* 캘린더와 예약 목록을 가로로 정렬하기 위해 flex 속성 사용 */
.reservation-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* jsuites 캘린더 스타일 */
.jsuites-calendar {
    font-size: 25px;
    height: 600px;
    width: 600px;
}

.jcalendar-table {
    height: 600px;
    width: 600px;
}

.jsuites-calendar .jcalendar {
    width:100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 추가: 크기 고정 */
}

/* 캘린더 날짜 스타일 */
.jcalendar-set-day {
    height: 100px;
    width: 100px;
    font-size: 18px; /* 글꼴 크기 */
    box-sizing: border-box; /* 추가: 패딩, 보더 포함 */
}

.jsuites-calendar .jcalendar-header,
.jsuites-calendar .jcalendar-footer {
    flex: 0 0 auto;
}

.jsuites-calendar .jcalendar-body {
    width: auto;
    height: auto;
    flex: auto; 
    overflow: hidden; /* 추가: 크기 고정 */
}

/* 예약이 있다면 색이 변경됨 */
.jcalendar-set-day .resevColor {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1A2050;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* 요일 스타일 */
.jcalendar-weekday {
    width: 120px;
}

.stapper-div {
    width: 20px;
    height: 20px;
    border-radius: 50%;  /* 동그랗게 만들기 */
    border: #1A2050 solid 1px;
    margin-left: 30px;
    margin-right: 10px;
}

/* 예약 항목 컨테이너를 가로로 정렬하기 위해 flex 사용 */
.reservation-item {
    display: flex;
    align-items: center;  /* 수직 중앙 정렬 */
    /* margin-bottom: 30px; */
    padding-bottom: 15px;
}

/* 텍스트 스타일 */
.reservation-font {
    padding-left: 15px;  /* 둥근 div와 텍스트 간의 간격 */
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.reservation-font p {
    margin: 0;  /* 문단 간의 기본 간격 제거 */
}

.reservation-fontList {
    padding-left: 15px;  /* 둥근 div와 텍스트 간의 간격 */
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;    border-radius: 10px;
}

.reservation-fontList:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* 예약 목록 스타일 */
.border-container {
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-right: 20px;
    box-sizing: border-box; /* 추가: 패딩, 보더 포함 */
}

.reservation-list {
    padding-left: 10px;
    flex: 1;
}

.reservation-none {
    margin-left: 40px;
    font-weight: bold;
    font-size: 35px;  /* 폰트 크기 */
}


/* 예약 수정 및 삭제 버튼 스타일 */
.reservation-actions {
    display: flex;
    justify-content: flex-end;
}

.reservation-delete{
    font-size: 25px;  /* 폰트 크기 */
    font-weight: bolder;
    padding: 10px 50px;  /* 안쪽 여백 (패딩) */
    border: none;
    margin: 10px;  /* 버튼 간의 간격 */
    border-radius: 5px;  /* 모서리 둥글게 */
    background-color: #f0f0f0;  /* 배경색 */
}


/* 버튼에 마우스를 올렸을 때 스타일 */
.reservation-update:hover,
.reservation-delete:hover {
    font-weight: bolder;
    background-color: #1A2050;  /* 호버 시 배경색 */
    color: #FFFF;
}

.reservation-clubName{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

.reservation-clubResvTime{
    font-size: 25px;
}

.reservation-dep {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 5px;
}
</style>
<th:block th:if="${session.loginMember == null}">
    <div id="doctorMatchingPage">
        <h1 id="doctorMatchingTitle">Golden Prestage 의료센터에 오신 것을 환영합니다</h1>
        <div id="doctorMatchingLoginForm">
            <div id="doctorMatchingLogin">
                <article class="login-form">

                    <form action="/member/login" method="GET" id="loginArea">
                        
                        <!-- 아이디, 비번 입력 -->
                        <img id="doctorMatchingMainLogo" src="/images/main/Logo4.png">
                            <h1>서비스를 이용하시려면 로그인이 필요합니다.</h1>
                            
                            <div class="text">Golden Prestige Corperation</div>
                            <button id="docLoginBtn">로그인 페이지로 이동</button>
                            
                    </form>
                </article>
            </div>
            <div id="doctorMatchingIntro">
                <img id="signupemoji" src="/images/medicalCenter/signupemoji.png">
                <h3 id="signupIntro1">회원가입 후, 다음 서비스를 이용하실 수 있습니다.</h3>
                <h4 id="signupIntro2">입주신청<br><br>인터넷 예약 및 확인<br><br>자유, 문의게시판 글 작성<br><br>여가문화 서비스 신청</h4>
            </div>
        </div>
    </div>
</th:block>
<th:block id="loginServey" th:if="${session.loginMember != null}">
<div class="reservation-container">

    <div class="reservation-header">
        <h1>◾ 예약 확인</h1>
    </div>

    <section class="reservation-section">
        <!-- 캘린더 영역 -->
        <div class="border-container calendar-container">

            <div id="calendar1">
                <span id="clubResvColor"></span>
            </div>

        </div>

        <!-- 예약 목록을 표시할 영역 -->
        <div id="reservationList" class="reservation-list">

        </div>
    </section>
    
    <!-- 예약 수정 및 삭제 버튼 -->
    <div class="reservation-actions">
        <button style="display: none;" class="reservation-delete" id="reservationDelete">삭제</button>
    </div>

    
</div>
</th:block>