
    <section class="reservation-section">

        <div class="reservation-header">
            <h1>◾ 예약 확인</h1>
        </div>
        
        <div class="border-container">

            <div class="calendar-container">
                <!-- 캘린더 -->
                <div id="calendar1">
                    <span id="clubResvColor"></span>
                </div>
            </div>

        </div>

        <!-- 예약 목록을 표시할 영역 -->
        <div id="reservationList" class="reservation-list">
        </div>

        <div class="reservation-actions">
            <button class="reservation-edit">수정</button>
            <button class="reservation-delete">삭제</button>
        </div>

    </section>
