    <h1>요양사 매칭 결과</h1>
    <table border="1">
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>나이</th>
                <th>성별</th>
                <th>전화번호</th>
                <th>경력</th>
                <th>근무시간</th>
                <th>역할</th>
                <th>클러스터</th>
            </tr>
        </thead>
        <tbody>
            <!-- 요양사 정보를 반복하여 표시 -->
            <tr th:each="caregiver, iterStat : ${caregivers}">
                <td th:text="${iterStat.index + 1}"></td>
                <td th:text="${caregiver.caregiversName}"></td>
                <td th:text="${caregiver.caregiversAge}"></td>
                <td th:text="${caregiver.caregiversGender}"></td>
                <td th:text="${caregiver.caregiversTel}"></td>
                <td th:text="${caregiver.caregiversExperience}"></td>
                <td th:text="${caregiver.caregiversWorkHours}"></td>
                <td th:text="${caregiver.caregiversRole}"></td>
            </tr>
        </tbody>
    </table>

