<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/Introduction/Introduction.css">
</head>
<body>
    
    <main>
        <!-- 이미지 나오는 div -->
        <div class="image-container">
            <img src="" alt="">
        </div>
            
        <div>
            <!-- 단지소개/ 입주 안내 div -->
            <div class="facility-info-container">
                <!-- 시설 관련 div -->
                <div class="facility-links">
                    <a href="">단지소개</a>
                    <a href="">입주 안내</a>
                </div>

                <div class="room-grade">
                    <button>클래식</button>
                    <button>프리미엄</button>
                    <button>vip</button>
                </div>
            </div>
            
            <section>
                <div>
                    <img src="/images/Introduction/classic.webp" alt="">
                </div>
                
                <div>
                    <h2>클래식룸</h2>
                    
                    <pre>
                        <h4>
                            실버타운의 클래식룸은 편안하고 아늑한 분위기를 제공합니다. 기본적인 편의시설을 완비하여, 집처럼 편안한 휴식을 취할 수 있습니다. 
                            경제적이면서도 안락한 숙박을 원하시는 분들께 이상적인 선택입니다.
                        </h4>
                    </pre>
                </div>
            </section>

            <section>
                <div class="concierge-service-container">
                    <img src="/images/Introduction/컨시어지서비스.webp" alt="">
                </div>
            </section>
        </div>
    </main>
</body>
</html>