<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://jsuites.net/v5/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v5/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="/css/myPage/myReserv.css">
    <title>Document</title>
</head>
<body>
    
    <section class="reservation-section">

        <div class="reservation-header">
            <h1>◾ 예약 확인</h1>
        </div>
        
        <div class="border-container">

            <div class="calendar-container">
                <!-- 캘린더 -->
                <div id="calendar">
                    <span id="clubResvColor"></span>
                </div>
            </div>

        </div>

        <!-- 예약 목록을 표시할 영역 -->
        <div id="reservationList" class="reservation-list">
        </div>

        <div class="reservation-actions">
            <button class="reservation-edit">수정</button>
            <button class="reservation-delete">삭제</button>
        </div>

    </section>

    <script src="/js/myPage/myReser.js"></script>
</body>
</html>