<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://jsuites.net/v5/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v5/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="/css/myPage/myReserv.css">
    <title>Document</title>
</head>
<body>
    
    <section>
        <div>
            <h1>
                ◾ 예약 확인
            </h1>
        </div>
    
        <div>
            <!-- 캘린더 -->
            <div id="calendar">
                <span id="clubResvColor"></span>
            </div>
        </div>


        <!-- 예약 목록을 표시할 영역 -->
        <div id="reservationList">
            
        </div>

        <div>
            <button>수정</button>
            <button>삭제</button>
        </div>

    </section>

    <script src="/js/myPage/myReser.js"></script>
</body>
</html>