
<div class="line"></div>
<div style="height: 5vh;"></div>

	
	<form action="/member/secession" method="POST" id="secessionArea">
				
		<div class="secessionTitle">
			탈퇴 후 개인정보처리 안내
		</div>
		               
        <div class="terms-container">

            
			<br>
			<SPAN class="info00">* 탈퇴를 원하시면 아래 내용을 숙지 후</SPAN>
			<SPAN class="info00"> 비밀번호 입력 후 탈퇴를 진행해주세요.</SPAN>
			
			<br>			
			            
			<div class="terms-content">
				<p>　</p>
				<p><약관 중 일부 발췌></p>
				<p>　</p>
				<p>　</p>
                <p>탈퇴를 원하는 회원은 본인이 직접 온라인으로 신청해야합니다.</p>
                <p>가입시 입력한 정보와 제출한 서류는 1개월 후 즉각 삭제됩니다.</p>
				<p>　</p>
				<p>　</p>
				<p>＊</p>
                <p>회원이 다음 각 호에 해당하는 행위를 했을 경우 사전 고지없이</p>
                <p>이용 계약을 해지(탈퇴) 할 수 있습니다.</p>
                <p>　</p>
                <p>- Golden Prestige 내 건전한 미풍양속에 저해되는 활동의 경우</p>
				<p>　</p>
                <p>- 타인의 권리리 등을 침해하는 불법적 게시물을 올리는 경우</p>
				<p>　</p>
                <p>- 제출한 서류, 입력한 정보 등이 허위로 작성된 경우</p>
				<p>　</p>
                <p>- 타인의 명의를 도용해 회원으로 가입한 경우</p>
				<p>　</p>
                <p>- 다양한 불법적 수단으로 본 사이트의 운영에 방해되는 경우</p>
				<p>　</p>
                <p>- Golden Prestige 가 제공하는 서비스 이용 중 얻게 된 정보를</p>
                <p>&nbsp;&nbsp;상업적으로 이용하거나 무단으로 외부로 공표하는 경우</p>
				<p>　</p>
                <p>- 기타 다른 회원이나 Golden Prestige 내에 피해를 끼치는 경우</p>
                <p>　</p>
                <p>　</p>
                <p>　</p>
                <p>*</p>
                <p>신상 정보에 대한 처리</p>
				<p>　</p>
                <p>- Golden Prestige 는 회원이 본사가 제공하는 서비스를 원활하게</p>
                <p>&nbsp;&nbsp;이용할 수 있도록 노력할 의무가 있으며, </p>
                <p>&nbsp;&nbsp;회원 신상정보 역시 회원에 대한 서비스 향상을 위해서만 이용합니다.</p>
                <p>　</p>
                <p>- Golden Prestige는 서비스 제공을 위해 수집한 회원 신상정보를</p>
                <p>&nbsp;&nbsp;본인의 승낙 없이 제 3자에게 제공하는 등 유출하지 않습니다.</p>
                <p>&nbsp;&nbsp;단, 적법한 절차를 거친 국가기관 및 공익을 위해 </p>
                <p>필요하다고 인정되는 경우는 예외로 합니다.</p>
                
                <!-- 추가 약관 내용 -->
            </div>
        </div>

<!-- ------------------------- -->

		<section class="pwBtnContainer">

            <div class="pwContainer">

                <div style="text-align: center;">
                    <span class="pwSpan">비밀번호</span> <!-- 패딩주기 -->
                </div>
                
                <div>
                    <input type="password"
                        class="memberPw2"
                        placeholder="비밀번호를 입력해주세요"
                        name="memberPw2"
                        id="memberPw2"
                        autocomplete="off"
                        style="color: #000;">
                </div>
            </div>

			<br>
            <br>
            <br>

            <div class="pwConfirmContainer">

                <div style="text-align: center;">
                    <span class="pwSpan">비밀번호 확인</span>
                </div>

                <div>
                    <input type="password"
                        class="memberPwConfirm2"
                        placeholder="비밀번호를 다시 입력해주세요"
                        name="memberPwConfirm2"
                        id="memberPwConfirm2"
                        autocomplete="off">
                </div>
            </div>
			
			<br>
			<br>
			<br>
			<br>
					
	        <div class="lineDiv"></div>
			
	        <br>
	        <br>
		
			</section>
			
			<div class="btnDiv">
				<button id="secessionBtn" class="foundIdBtn" type="submit">탈퇴하기</button>
			</div>
		
		
	</form>