<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://jsuites.net/v5/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="/css/myPage/myReservUpdate.css">
    <title>예약 확인</title>
</head>
<body>
    <div class="reservation-container">
        <div class="reservation-header">
            <h1>◾ 예약 수정</h1>
        </div>
        <section class="reservation-section">
            <!-- 캘린더 영역 -->
            <div class="border-container calendar-container">
                <div id="calendar"></div>
            </div>
            <div id="reservationList" class="reservation-list">
                
                <th:block th:each="resv : ${reservationList}">

                    <form th:action="@{/myPage/myInfo/myReserUpdate/{date}(date=${date})}" method="POST">
                        
                        <div class="reservation-item" th:object="${resv}">
                            <div class="stapper-div"></div>
                            <div class="reservation-fontList">
                                <p class="reservation-clubName" th:text="*{clubName}"></p>

                                <input type="hidden" name="clubCode" id="clubCode" th:value="*{clubCode}">
                                <input type="hidden" name="clubResvNo" id="clubResvNo" th:value="*{clubResvNo}">
                                
                                <p class="reservation-clubResvTime" th:text="*{clubResvTime}"></p>
                                <input type="hidden" name="clubResvTime" id="clubResvTime" th:value="*{clubResvTime}">
                                <select id="reservationTime" name="reservationTime">
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                    <option value="19:00">19:00</option>
                                    <option value="20:00">20:00</option>
                                </select>
                                <!-- 예약 수정 및 삭제 버튼 -->
                                <div class="reservation-actions">
                                    <button class="reservation-update" id="reservationUpdate">수정 하기</button>
                                    <button class="reservation-delete" id="reservationDelete">삭제하기</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </th:block>
            </div>
        </section>
    </div>
    <script src="/js/myPage/myReserUpdate.js"></script>
</body>
</html>
